<link rel="stylesheet" href="/css/home.css">
<script src="https://kit.fontawesome.com/605f74fa70.js" crossorigin="anonymous"></script>



<!-- <form action="" id="task-form" method="POST">
    <label>Description</label>
    <textarea name="description" cols="30" rows="3" placeholder="Enter description.." required></textarea>
    <label>Category</label>
    <input type="text" name="category" required>
    <label>Due Date</label>
    <input type="text" name="category" required>
    <input type="submit" value="Post">
</form> -->
<div id="full-container">
    <h3 id="heading">TODO App</h3>
    <div class="form-box">
        <form action="/create" id="task-form" method="POST">
          <div class="user-box">        
            <label id="label">Description</label>
            <input type="text" name="description" placeholder="Enter description.." required>
          </div>
          <div class="user-box">
            <label id="label" for="categorySelect">Category</label>
            <select id="category" name="category">
              <option selected value="">Select Category Type</option>
              <option value="Personal">Personal</option>
              <option value="Work">Work</option>
              <option value="Hobby">Hobby</option>
              <option value="Study">Study</option>
              <option value="Food">Food</option>
              <option value="Clean">Clean</option>
            </select>
            <!-- <label>Category</label>
            <input type="text" name="category" required> -->
          </div>
          <div class="user-box">
            <label id="label"> Due Date</label>
            <input type="date" name="dueDate" required>
          </div>
          <div class="user-box"></div>
            <input id="submit-button" type="submit" value="Submit">
          </div>
          <!-- <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a> -->
        </form>
      </div>
    
      <div>
          <% for(let task of taskList) {%>
            <% let dateReceived = task.dueDate %>
                <ul>
                    <li>
                        <div class="card">
                            <div class="delete">
                                <a href="/delete-task/?id=<%=task._id%>">   
                                    <i class="fas fa-window-close"></i>
                                </a>
                            </div>
                            <h3>
                                <i class="fas fa-archive"></i><%= task.description%>
                            </h3>
                            <div class="container">
                                <h4>
                                    <i class="fas fa-hand-point-right"></i>
                                    <%= task.category%>
                                </h4>
                                <p>
                                    <i class="fas fa-calendar"></i>
                                    <%=dateReceived.getDate()%> 
                                    /
                                    <%=dateReceived.getMonth()%>
                                    /
                                    <%=dateReceived.getFullYear()%>
    
    
                                </p>
                            </div>
                        </div>             
                    </li>
                </ul>
           <% } %> 
      </div>
</div>
